{% extends "base1.html" %}
{% block head %}
<link href="/static/less/apimodel.css" rel="stylesheet">
{#    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">#}
    <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.css" rel="stylesheet">
    <link href="/static/css/scene.css" rel="stylesheet">
{% endblock %}
{% block window %}

{% endblock %}


{% block body_header %}
<h2 class="page-header" id = "api-menu-project-id" data-id="10010-1">新增场景</h2>
{% endblock %}
{% block body %}
<div class="panel-body">
    <div class="table-responsive">
        <div class="form-group" >
            <h4 style="float: left;">所属项目:&nbsp;&nbsp;</h4>
            <select class="form-control" style="width:200px;float: left;"  id="select-pro">
{#                <option selected="selected" >Saas项目</option>#}
            </select>
            <h4 style="float: left;">&nbsp;&nbsp;&nbsp;所属版本:&nbsp;&nbsp;</h4>
            <select class="form-control" style="width:200px;float: left;"  id="select-ver">
{#                <option selected="selected">CRM1.0</option>#}
            </select>
            <h4 style="float: left;">&nbsp;&nbsp;&nbsp;所属模块:&nbsp;&nbsp;</h4>
            <select class="form-control" style="width:200px;float: left;"  id="select-mod">
{#                <option selected="selected">我的</option>#}
            </select>

            <h4 style="float: left;text-align:center;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;API标题:&nbsp;&nbsp;</h4>
            <div class="form-item">
                <input class="form-input" id="name" style="width:200px;float: left;" type="text" />
            </div>

            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-primary" id="api-apilist">查询</button>
        </div>
        <p>
            <button type="button" class="btn btn-info" id="add-api-link">新增</button>
            <button type="button" class="btn btn-info" id="del-api-link">删除</button>
        </p>

    </div>
    <!-- /.table-responsive -->
</div>
{#    style="display: none"#}
{#    <div class="row" id="suite_data" >#}
{#    <div class="col-md-1"></div>#}
{#    <div class="col-md-3" style="padding: 0px">#}
{#        <table class="table table-condensed table-bordered" style="background:#FFF;table-layout:fixed;" id='all_scene'>#}
{#            <tr class="info"><td colspan="2" align='center'><b>全部用例</b></td></tr>#}
{#            <tr class="info">#}
{#                <td style="width:70%">用例名称</td>#}
{#                <td style="width:30%">操作</td>#}
{#            </tr>#}
{#        </table>#}
{#    </div>#}
{#    <div class="col-md-1" style="padding: 0px"></div>#}
{#    <div class="col-md-3" style="padding: 0px">#}
{#        <table class="table table-condensed table-bordered" style="background:#FFF;table-layout:fixed;" id = 'my_scene'>#}
{#            <tr class="info"><td colspan="2" align='center'><b>已添加用例</b></td></tr>#}
{#            <tr class="info">#}
{#                <td style="width:70%">用例名称</td>#}
{#                <td style="width:30%">操作</td>#}

{#            </tr>#}
{#        </table>#}
{#    </div>#}
{#</div>#}


<div class="row" >
<div class="col-md-1"></div>
    <div class="col-md-3" style="padding: 0px">
    <div id="transferContainer" class="row" style="height: 700px;width: 950px;display: block"></div>

{#    	中间点击按钮图标没显示出来没关系  是因为引入的cdn问题  正常下载引入bootstrap.css的话没问题<br>#}
{#    	'getData' 内置方法  selectData是获取选中的数据 后面importUnitId 是收集的字段  如果需要收集多个字段就改为数组<br>#}
{#		$('#transferContainer').transfer('getData', 'selectData', 'importUnitId')#}


    </div>

</div>








<div class="row" id="sence_data" style="display:none">
    <div class="col-md-1"></div>
    <div class="col-md-10" style="padding: 0px">
    <div style="padding:0px 17px 0px 0px">
        <table class="table table-condensed table-bordered" style="background:#FFF;table-layout:fixed;margin:0px" id="header">
            <tr class="info" id=-1>
                <td style="width:5%"><b>执行顺序</b></td>
                <td style="width:10%"><b>接口名称</b></td>
                <td style="width:20%"><b>请求参数 ( json格式 )</b></td>
                <td style="width:20%"><b>校验参数 ( json格式 )</b></td>
                <td style="width:10%"><b>中间变量 (多个,分隔)</b></td>
                <td style="width:10%"><b>备注</b></td>
                <td style="width:5%"><b>准备时间(s)</b></td>
                <td style="width:10%"><b>调试结果</b></td>
                <td align='center'>
                    <button class="btn btn-danger" id="zmd">提交修改</button>
                    <button class="btn btn-success" id="n" style="padding:0px 8px"><font size="4">+</font> </button>
                </td>
            </tr>
        </table>
    </div>
    <div style="height:540px;overflow-y:auto;overflow-x:hidden;" id='d'>
      <table class="table table-condensed table-bordered" id="data" style="background:#FFF;table-layout:fixed;margin:0px;">
          <tr class="info" id='case_params' style="display:none">
              <td style="width:5%"><b>执行顺序</b></td>
                <td style="width:10%"><b>接口名称</b></td>
                <td style="width:20%"><b>请求参数 ( json格式 )</b></td>
                <td style="width:20%"><b>校验参数 ( json格式 )</b></td>
                <td style="width:10%"><b>中间变量 (多个,分隔)</b></td>
                <td style="width:10%"><b>备注</b></td>
                <td style="width:5%"><b>准备时间(s)</b></td>
                <td style="width:10%"><b>调试结果</b></td>
                <td align='center'>
                    <button class="btn btn-danger" id="zmd">提交修改</button>
                    <button class="btn btn-success" id="n" style="padding:0px 8px"><font size="4">+</font> </button>
                </td>
          </tr>


          <tr class="info">
              <td style="width:5%"><b>执行顺序</b></td>
                <td style="width:10%"><b>接口名称</b></td>
                <td style="width:20%"><b>请求参数 ( json格式 )</b></td>
                <td style="width:20%"><b>校验参数 ( json格式 )</b></td>
                <td style="width:10%"><b>中间变量 (多个,分隔)</b></td>
                <td style="width:10%"><b>备注</b></td>
                <td style="width:5%"><b>准备时间(s)</b></td>
                <td style="width:10%"><b>调试结果</b></td>
                <td align='center'>
                    <button class="btn btn-danger" id="zmd">提交修改</button>
                    <button class="btn btn-success" id="n" style="padding:0px 8px"><font size="4">+</font> </button>
                </td>
          </tr>
      </table>
    </div>
    </div>

</div>


    <div class="col-md-1"></div>
    <button id='btn' class="btn btn-primary">获取已选数据</button>
{% endblock %}
{% block scripts %}
    {{ super() }}
<script src="/static/suite.js"></script>

{#    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>#}
{#<script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>#}
<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/bootstrap-table.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap-table/1.12.1/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="static/js/Transfer.js"></script>

<script type="text/javascript">





</script>


{% endblock %}